root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,ps1,csproj,xaml,xml,svg}]
indent_style = space
indent_size = 4
end_of_line = crlf

[*.md]
end_of_line = lf

[*.cs]
dotnet_sort_system_directives_first = true
